.sider {
    min-height: 400px;
    max-height: 100%;
    transition: width 0.3s ease;
    width: var(--sider-width);
    &.collapsed {
      width: var(--sider-width-collapsed);
    }
    .ant-menu{
        height: 100%;
    }
}
