:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainColor: #007E3C;
  --whiteColor: #ffffff;
  --textColor: #3D3D3D;
  --borderColor: #e8e8ef;
  --mainColorRGBA: rgba(0, 126, 60, 0.2);
  --mainColorDarker: #006633;
  --mainColorDarkerMore: #004D29;
  --mainColorLighter: #339966;
  --mainColorLighterMore: #339966;
  --footerBgColor: #181821;
  --footerTextColor: #979FA7;
}

* {
  font-family: Inter, sans-serif;
}