.footer {
    background-color: var(--footerBgColor);
    color: var(--footerTextColor);
    width: 100%;
    min-height: 200px;
    &__up{
        border-bottom: 1px solid var(--borderColor);
        min-height: 100px;
        &--content{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            h4 {
                padding: 10px;
                font-size: clamp(12px, 1.5vw, 16px);
                line-height: clamp(14px, 1.5vw, 18px);
            }
            .img {
                padding: clamp(15px, 2vw, 30px);
                height: auto;
                min-width: 70%;
                object-fit: cover;
            }
        }
    }
    &__logo {
        padding: 0% 10%;
        .up{
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            h5{
                line-height: 100%;
                color: white;
                font-size: clamp(12px, 1.5vw, 16px);
                line-height: clamp(14px, 1.5vw, 18px);
                font-weight: bold;
            }
        }
    }
    &__down{
        border-bottom: 1px solid var(--borderColor);
        &--content{
            padding: 2% 10%;
            display: flex;
            justify-content: left;
            align-items: center;
            // &.A{
            //     display: flex;
            //     flex-direction: column;
            //     align-items: flex-start;
            // }
            ul {
                li:first-child{
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    font-size: clamp(12px, 1.5vw, 16px);
                    line-height: clamp(14px, 1.5vw, 18px);
                    margin-bottom: 8%;
                }
                li{
                    font-size: clamp(10px, 1.5vw, 14px);
                    line-height: clamp(14px, 1.5vw, 18px);
                    padding-bottom: 5px;
                    color: var(--footerTextColor);
                    list-style: none;
                    font-weight: normal;
                    &:hover{
                        filter: brightness(1.4);
                    }
                }
                
            }
        }
    }
    &__last{
        &--content{
            display: flex;
            gap: 12px;
            font-size: clamp(12px, 1.5vw, 16px);
            line-height: clamp(14px, 1.5vw, 18px);
            &.left{
                padding: 2% 10%;
            }
            &.right{
                padding: 2% 2%;
                gap: 10px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .icon{
                    font-size: 22px;
                }
            }
        }
    }

}